<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,650},{149,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,159}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>UI-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,457},{60,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,149}}</string>
                <key>sourceSize</key>
                <string>{60,149}</string>
            </dict>
            <key>UI-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,480},{149,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,161}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>UI-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,631},{149,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,159}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>UI-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,306},{60,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,149}}</string>
                <key>sourceSize</key>
                <string>{60,149}</string>
            </dict>
            <key>Ui-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,500},{294,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,126}}</string>
                <key>sourceSize</key>
                <string>{294,126}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,480},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1290},{721,1286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,1286}}</string>
                <key>sourceSize</key>
                <string>{721,1286}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,608},{662,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,662}}</string>
                <key>sourceSize</key>
                <string>{662,662}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{450,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,154}}</string>
                <key>sourceSize</key>
                <string>{450,154}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,100},{398,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,93}}</string>
                <key>sourceSize</key>
                <string>{398,93}</string>
            </dict>
            <key>pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,233},{692,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,229}}</string>
                <key>sourceSize</key>
                <string>{692,229}</string>
            </dict>
            <key>playgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,158},{412,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,146}}</string>
                <key>sourceSize</key>
                <string>{412,146}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>war.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{750,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,186}}</string>
                <key>sourceSize</key>
                <string>{750,186}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,306},{374,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,172}}</string>
                <key>sourceSize</key>
                <string>{374,172}</string>
            </dict>
            <key>win_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{721,1286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,1286}}</string>
                <key>sourceSize</key>
                <string>{721,1286}</string>
            </dict>
            <key>win_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{692,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,229}}</string>
                <key>sourceSize</key>
                <string>{692,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Layer.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b350ef223d5ee5bf9d4ee1bb4fb2c2$</string>
            <key>textureFileName</key>
            <string>Layer.png</string>
        </dict>
    </dict>
</plist>
