<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,628},{135,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,90}}</string>
                <key>sourceSize</key>
                <string>{135,90}</string>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{386,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,467}}</string>
                <key>sourceSize</key>
                <string>{386,467}</string>
            </dict>
            <key>10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1261},{113,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,87}}</string>
                <key>sourceSize</key>
                <string>{113,87}</string>
            </dict>
            <key>10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,471},{224,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,145}}</string>
                <key>sourceSize</key>
                <string>{224,145}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,765},{90,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,134}}</string>
                <key>sourceSize</key>
                <string>{90,134}</string>
            </dict>
            <key>Boss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,421}}</string>
                <key>sourceSize</key>
                <string>{582,421}</string>
            </dict>
            <key>Boss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{540,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,466}}</string>
                <key>sourceSize</key>
                <string>{540,466}</string>
            </dict>
            <key>Xfj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1376},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>Xfj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1199},{152,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,127}}</string>
                <key>sourceSize</key>
                <string>{152,127}</string>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,62},{187,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,29}}</string>
                <key>sourceSize</key>
                <string>{187,29}</string>
            </dict>
            <key>bz0.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,930},{141,157}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{141,157}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>bz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1185},{151,143}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{151,143}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>bz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,781},{163,157}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,157}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>bz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1327},{139,133}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{139,133}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>bz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{149,135}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{149,135}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>bz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1431},{149,135}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{149,135}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,471},{102,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,79}}</string>
                <key>sourceSize</key>
                <string>{102,79}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1059},{155,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,125}}</string>
                <key>sourceSize</key>
                <string>{155,125}</string>
            </dict>
            <key>hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1339},{149,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,139}}</string>
                <key>sourceSize</key>
                <string>{149,139}</string>
            </dict>
            <key>ser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>ser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,575},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>ser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,618},{50,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,67}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>stopp.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,471},{224,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,145}}</string>
                <key>sourceSize</key>
                <string>{224,145}</string>
            </dict>
            <key>x-001001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1043},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,154}}</string>
                <key>sourceSize</key>
                <string>{158,154}</string>
            </dict>
            <key>x-0010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1328},{150,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,101}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>x-0010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1073},{154,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,110}}</string>
                <key>sourceSize</key>
                <string>{154,110}</string>
            </dict>
            <key>x-0010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1053},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>x-0010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,901},{159,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,146}}</string>
                <key>sourceSize</key>
                <string>{159,146}</string>
            </dict>
            <key>x-0010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,893},{158,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,159}}</string>
                <key>sourceSize</key>
                <string>{158,159}</string>
            </dict>
            <key>x-0010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,773},{155,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,164}}</string>
                <key>sourceSize</key>
                <string>{155,164}</string>
            </dict>
            <key>x-0010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,618},{153,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,165}}</string>
                <key>sourceSize</key>
                <string>{153,165}</string>
            </dict>
            <key>x-0010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,893},{148,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,162}}</string>
                <key>sourceSize</key>
                <string>{148,162}</string>
            </dict>
            <key>x-0010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1290},{142,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{142,151}</string>
            </dict>
            <key>x-0010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1330},{136,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,135}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>x-001002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{156,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,163}}</string>
                <key>sourceSize</key>
                <string>{156,163}</string>
            </dict>
            <key>x-0010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1434},{135,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,113}}</string>
                <key>sourceSize</key>
                <string>{135,113}</string>
            </dict>
            <key>x-0010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1261},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>x-0010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1062},{149,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,95}}</string>
                <key>sourceSize</key>
                <string>{149,95}</string>
            </dict>
            <key>x-0010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1183},{153,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,105}}</string>
                <key>sourceSize</key>
                <string>{153,105}</string>
            </dict>
            <key>x-0010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,940},{156,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,117}}</string>
                <key>sourceSize</key>
                <string>{156,117}</string>
            </dict>
            <key>x-0010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1051},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
            <key>x-001003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,471},{155,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,165}}</string>
                <key>sourceSize</key>
                <string>{155,165}</string>
            </dict>
            <key>x-001004.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,628},{151,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,165}}</string>
                <key>sourceSize</key>
                <string>{151,165}</string>
            </dict>
            <key>x-001005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{146,157}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,157}}</string>
                <key>sourceSize</key>
                <string>{162,157}</string>
            </dict>
            <key>x-001006.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1186},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,144}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>x-001007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1462},{131,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,125}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>x-001008.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1367},{139,109}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{139,109}}</string>
                <key>sourceSize</key>
                <string>{153,109}</string>
            </dict>
            <key>x-001009.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1159},{145,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,100}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Varia.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d161387c58c200048162a8fb3f5f5c03$</string>
            <key>textureFileName</key>
            <string>Varia.png</string>
        </dict>
    </dict>
</plist>
